<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-concrete">
    <div class="container-fluid room-view">
      <div class="row intro-block">
        <div class="col-md-4 col-md-offset-4 bg-midnight-blue margin-t-100 padding-40">
          <h1 class="text-center"><%= title %></h1>
          <p class="text-center"><%= subtitle %></p>
          <form id="user_form" class="text-center" action="#">
            <label for="username"></label><input type="text" id="username" name="username" value="" placeholder="Nickname" required>
            <label for="room"></label><input type="text" id="room" name="room" value="" placeholder="Which room?" required>
            <input type="submit" class="center-block btn-primary padding-5" value="Join!">
          </form>
        </div>
      </div>
      <div class="row hidden">
        <h3 id="channel" class="bg-midnight-blue padding-5"></h3>
        <section class="messages">
          <article class="message text-center">

          </article>
        </section>
      </div>
      <div class="row hidden">
        <form id="message_form" action="#" >
          <input type="text" class="yourmessage col-md-11"></input>
          <input type="submit" class="col-md-1 bg-midnight-blue" value="Say!">
        </form>
      </div>
    </div>
    <!-- Live reload script -->
    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>

var roomView = Backbone.View.extend({
  el: ".room-view",
  events: {
    "submit #message_form" : function (e){
      e.preventDefault();
      var lastMessage =  this.$el.find(".yourmessage").val();
      app.socketEmitter('send', {username: app.chatInfo.username, message:lastMessage });
      this.$el.find(".yourmessage").val("");
      this.appendMessage('Me: '+ lastMessage);
    },
    "submit #user_form" : function(e){
      e.preventDefault();
      app.chatInfo = new chatData({
        username:$("#username").val(),
        room:$("#room").val()
      });
      this.joinRoom();
    },
  },
  joinRoom: function(){
    this.$el.find(".intro-block").hide();
    this.$el.find(".hidden").removeClass("hidden");
    this.$el.find("#channel").text('#'+app.chatInfo.room);
    this.listenTo(app.socket,'joinmsg',function(data){
      app.chatRoom.appendMessage(data);
    });
    this.listenTo(app.socket,'buffer',function(results){
        app.chatRoom.appendMessage('--Chat buffer started--');
      results.forEach(function(data){
        app.chatRoom.appendMessage(data.username+': '+data.message);
     });
         app.chatRoom.appendMessage('--Chat buffer completed--');
    });
    this.listenTo(app.socket,'recieve',function(lastMessage){
      app.chatInfo.set({'lastMessage':lastMessage});
      //console.log(app.chatInfo.changedAttributes().lastMessage.message);
      app.chatInfo.on("change:lastMessage",app.chatRoom.appendMessage(lastMessage.username + ': '+ lastMessage.message));
    });
  },
  appendMessage: function(lastMessage){
    var messagesElem = this.$el.find(".messages");
    messagesElem.append('<div class="message">'+lastMessage+'</div>');
    if (messagesElem.height() < messagesElem[0].scrollHeight){ messagesElem.scrollTop(messagesElem[0].scrollHeight) };
  }
});

var chatData = Backbone.Model.extend({
  defaults:{
    username:'',
    room:'',
    lastMessage:'',
  },
  initialize:function(data){
    this.username = data.username;
    this.room = data.room;
    app.socketEmitter('join',{username:data.username,room:data.room});
  }
});

var app = {
  socket : io.connect('http://localhost'),
  socketEmitter: function(method,data){
    this.socket.emit(method,data);
  },
  chatRoom: new roomView()
};


    </script>
  </body>
</html>
